@media (min-width: 1280px) {
  
    
    :root {
    --color-blue: rgb(42, 35, 103);
    --color-lightBlue: rgb(107, 90, 249);
    --color-gold: rgb(240, 213, 119);
    --color-gray: rgb(159, 159, 159);
    --color-white: rgb(255, 255, 255);
    --color-green: rgb(67, 205, 147);
    --color-under: rgb(235, 235, 235);
    --color-block: rgba(42, 35, 103, 0.15);
    --color-callBack:rgb(244, 248, 255);
    --color-callBackForm: rgb(107, 90, 249);
    --color-chekbox: rgb(155, 143, 255);
    --color-popup: rgba(163, 161, 161, 0.85);
    --color-order_a_call: rgb(152, 149, 180);
    --color-order_a_call__name: rgb(126, 126, 126);
    --color-box_shadow: rgba(0, 0, 0, 0.2);
    }
    
    body {
        
        font-family: 'Montserrat', sans-serif;
        background-color: var(--color-white);
        margin: 0 auto;
        max-width: 1280px;
    }


.header-phone, .menu_close, #header-menu_button, .header-menu-close_x, .first_sw, .header-popap-menu-icon_open, .header-menu-nav, .second_sw {
   display: none;
   }



   .block-for-img {
    display: grid;
    padding-top: 90px;

}

.block-for-information {
    display: grid;
    padding: 25px 10px;

}







   
   .prime, .second-block {

padding-top: 50px;
}

.order_a_call__form_background {
 
       background-color: var(--color-box_shadow);
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 5;
    left: 0

    
    }
    .order_a_call__form_background div{
        display: grid;
        justify-items: center;
    }
    

.header-popup-menu {
display: block;
position: absolute;
}



   main {
   display: grid;
   
   justify-items: center;
   }





   header {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100px;
    
   }
.header-menu__list{
	display: grid;
    transform: translate(-150px, -2px);
    grid-template-columns: 85px 90px 85px 85px 85px 85px 85px;
	text-decoration: none;
    align-items: center;
    list-style: none;
    justify-items: center;
    column-gap: 5px;
	}


.header__menu-link a{
		color: var(--color-blue);	
		font-weight: 700;
		font-size: 14px;
        text-decoration: none;
		}

.header-popup-menu:nth-child(1){
display: none;
}


.header__menu-contact:nth-child(9) {
    display: none
	}

    .header__menu-contact:nth-child(10) {
    display: grid;
    position: absolute;
    left: 750px;
    width: 250px;
	}


.header__menu-contact a{ 
		list-style: none;
		color: var(--color-blue);
		font-weight: 700;
        font-size: 24px;
        line-height: 1px;         
		} 

.header__menu-contact a span{ 
		list-style: none;
		color: var(--color-blue);
		font-weight: 700;
        font-size: 12px; 
        padding-top: 10px;
		} 

.header__menu-contact a span p{ 
	    padding-top: 10px;
		} 

           
.header__menu-contact:first-child {
display: none;
}

.social {
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 14px;
transform: translate(200px, -16px);
}

.feedback_call {
    display: grid;
    justify-content: center;
    transform: translate(0);
    }
.feedback_call__button {

    display: grid;
    color: white;
    border: 1px solid var(--color-lightBlue);
    border-radius: 5px;
    width: 125px;
    height: 60px;
    background-color: var(--color-lightBlue);
    text-align: center;
    align-items: center;
    text-decoration: none;
}


.first-block {
display: grid;

}
















.input::placeholder {
color: var(--color-blue);
}


.order_a_call__form {
    
    position: absolute;
    display: grid;
    top: 133px;
    width: 732px;
    height: 498px;
    background-color: var(--color-white);
    border-radius: 10px;
    z-index: 20;
    padding: 0 15px;
}

.order_a_call__title {
    display: grid;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-blue);
    text-align: center;
    align-content: center

}

.input_name, .input_phoneNumber {
color: var(--color-order_a_call__name);
font-size: 16px;
font-weight: 500;
}

.order_a_call__name {
    display: grid;
    border: none;
    border-bottom: 2px solid var(--color-order_a_call);
    
}

.order_a_call__phoneNumber {
    display: grid;
    border: none;
    border-bottom: 2px solid var(--color-order_a_call);
}

.order_a_call__name::placeholder, .order_a_call__name::placeholder {
color: var(--color-order_a_call);

}


.order_a_call__data, .order_a_call__data form {
    display: grid;
    row-gap: 15px;    
   
}
.order_a_call__send {
    display: grid;
    justify-content: center;
        align-items: center;
}

.order_a_call__send_button {
    display: grid;
    color: white;
    border: 1px solid var(--color-lightBlue);
    border-radius: 5px;
    width: 275px;
    height: 60px;
    background-color: var(--color-lightBlue);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.approval {
display: grid;
text-align: left;
font-size: 10px;
font-weight: 500;
color: var(--color-order_a_call);

}


.imgOrderOfCall {
display: grid;
justify-content: center

}



	

	

	


	

	
	
	

	









   

   

   
     .first-block__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
   }

   .first-block__container_title {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    padding-left: 10px;
    align-content: space-evenly;
    justify-items: start;
   }

   

    .first-block__heading {
        font-size: 24px;
        font-weight: 700;
        color: var(--color-blue);
        padding-left: 10px;
        padding-top: 41px;
   }


  .first-block__heading span{
    color: var(--color-lightBlue);
   }

   .first-block__container_title_text {
        font-size: 12px;
        font-weight: 400;
        color: var(--color-blue);
        text-align: left;
   
    }
    .first-block__container_title_text span {
    color: var(--color-lightBlue);
    font-weight: 700;
    }


  

  

   .first-block__container_img {   
     display: grid;
     grid-column-start: 2;
    }

   .first-block_button {
    display: grid;
    justify-content: center;
    
    }
    
.price-button_position {
    display: grid;
    justify-content: center;
    padding-top: 50px;
}

.price-button {
    display: grid;
    color: white;
    border: 1px solid var(--color-lightBlue);
    border-radius: 5px;
    width: 275px;
    height: 60px;
    background-color: var(--color-lightBlue);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.first-block__container_text {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-blue);
    }

.first-block__container_text span {
color: var(--color-lightBlue);
}

.second-block_title, .prime-title {
    font-size: 36px;
    font-weight: 800;
    color: var(--color-blue);
}
.second-block_title span, .prime-title span {
    color: var(--color-lightBlue);
}


.prime-title {
padding-top: 30px;
}







.second-block__conteiner {
display: grid;
grid-template-columns: 1fr 1fr;
padding-left: 10px;
}

  .second-block__conteiner-title {
    display: grid;
    row-gap: 17px;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-lightBlue);
    align-content: center
  }

  .second-block__conteiner-text{
    display: grid;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-blue);
    list-style-image: url(img/li.png);
    row-gap: 10px;
    padding-left: 16px;
  }

.position-right {
grid-column-start: 2;
}
.position-left{
grid-row-start: 1;

}


 .third-block {
    padding-top: 80px;
    padding-bottom: 107px;
    padding: 19px;
    background-color: var(--color-gold);
    border-radius: 10px;
  }

.third-block__frame {
    display: grid;
    background-color: var(--color-gold);
    border-radius: 10px;
    border: 1px solid white;
    

}
.slideBG {
    background-color: var(--color-gold);

}

.third-block__img {
display: grid;
padding-bottom: 19px;
}

    .third-block__conteiner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
    align-items: center;
    }
   
   .third-block__img_sertif {
    display: grid;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-gray);
    padding-bottom: 6px;
    }


    .third-block__img_text{
        display: grid;
        width: 212px;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        color: var(--color-blue);
        padding-bottom: 24px;
    }

    figure {
    display: grid;
    justify-items: center;
    }


    .swiper-slide_bk {
        background-color: var(--color-gold);
    }



.swiper {
    width: 100%;
    height: 110%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
  }













.fourth-block {
display: grid;
grid-template-columns: 1fr 1fr;
}

.fourth-block__title {
font-size: 36px;
font-weight: 800;
color: var(--color-blue);
grid-column-start: 1;
}

.fourth-block__title span {
color: var(--color-lightBlue);
}

.fourth-block__text {
font-size: 18px;
font-weight: 400;
color: var(--color-blue);
grid-column-start: 1;

}

.fourth-block__img {
grid-column-start: 2;
}


 .fifth-block {
  display: grid;
  gap: 50px;
  }

  .fifth-block__title {
  font-size: 36px;
  font-weight: 800;
  color: var(--color-blue);
  }

  .fifth-block__stages {
        display: grid;
        justify-content: center;
        box-shadow: 0 10px 60px 0 var(--color-block);
        border-radius: 10px;
        padding: 10px;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;

  }



  .fifth-block__stage {
      display: grid;
      justify-content: center;
      
  }

  .fifth-block__stage-title {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-content: center;
    column-gap: 30px;
  }

  .stage_number {
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
    background-color:var(--color-green);
    height: 53px;
    width: 53px;
    border-radius: 50%;
  }

    .fifth-block__stage-text {
        display: grid;
        align-content: center;
        font-size: 24px;
        font-weight: 700;
        color: var(--color-blue);
    }

    .fifth-block__stage-line {
        padding-top: 35px;
        display: grid;
        border-bottom: 1px solid var(--color-under) ;
    }

    .fifth-block__stage-content {
        display: grid;
        color: var(--color-blue);
        font-size: 18px;
        font-weight: 400;
    }

    .fifth-block__img {
    display: grid;
    justify-content: center;
    }

.imageOffice {
display: grid;

    padding-top: 90px;
   background: url(imgDesktop/office_DT.png) no-repeat center;
  height: 590px;
    width: 1280px;
    }


 .callback {
display: grid;
    grid-template-columns: 580px 580px;
    padding-top: 100px;
    background-color: var(--color-callBack);
    border-radius: 20px;
    justify-items: center;
    padding-bottom: 269px;
    padding-top: 65px;
    
    
    }

    .callback_title {
     display: grid;
    grid-column-start: 1;
    justify-items: center;
    grid-row-start: 1;
    font-size: 36px;
    font-weight: 800;
    color: var(--color-blue);
    }

    .callback__description {
       display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-blue);
    padding-top: 100px;
    }

    .callback__description p span {
    font-weight: 600;
        }

  .form__callBack {
 display: grid;
    grid-column-start: 2;
   
    background-color: var(--color-callBackForm);
    border-radius: 20px;
    height: 486px;
    justify-items: center;
  }



    .form__callBack-title {
    display: grid;
    font-size: 24px;
    font-weight: 700;
    width: 345px;
    color: var(--color-white);
    padding-top: 50px;
    text-align: center;
    }

    .callback_text {
    display: grid;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-white);
    text-align: center;
    width: 400px;
    }

    .form_border {
    display: grid;
    padding: 10px;
    justify-items: center;
    }

    .form {
    display: grid;
    justify-content: center;
    gap: 61px;
    color: rgba(255, 255, 255, 0.4);
    }

    .input {
    display: grid;
    
        background-color: var(--color-callBackForm);
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    }

    .button {
       display: grid;
    
    border: none;
    align-content: center;
    width: 268px;
    height: 60px;
    color: var(--color-lightBlue);
    font-size: 14px;
    font-weight: 700;
    }

.check {
display: block;
padding-top: 35px;
color: var(--color-white);
font-size: 12.5px;
font-weight: 400;
}

.check__input {
appearance: none;
}

.check__box {
position: absolute;
width: 16px;
height: 16px;
background-color: #fff;
padding-left: 0;
border-radius: 2px;
}

.check__text {
padding-left: 25px;
color: var(--color-chekbox);
}

.check__text span{
padding-left: 40px;
}

.check__input:checked + .check__box {
    background-image: url(img/checkbox.png);
}
.cube {
transform: translate(72%, 27%);
}

.cylinder {
 transform: translate(150%, -280%);
}

.purpleInBasic {
    transform: translate(-152%, -140%);

}

.platonic {
 transform: translate(-310%, -760%);
}

.donut {
 transform: translate(-500%, -1170%);
}








.footer {
    display: grid;
    background-color: var(--color-blue);
    row-gap: 40px;
    padding-left: 51px;
    padding-right: 51px;

}


.emailAndOrder {
display: grid;
grid-template-columns: 1fr 1fr;
border-bottom: 2px solid var(--color-lightBlue);
align-items: end;
}


.email {

    display: grid;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
    
    padding-top: 27px;
   
}

.email p {
font-size: 48px;
color: var(--color-lightBlue);
}

.order_a_call {
    display: grid;
    justify-content: end;
    padding-bottom: 45px;
    }

.footer_inform {
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 35px;
}

.messenger {
text-align: right;
grid-column-start: 2;
}

.inform {
display: grid;
justify-items: center;
row-gap: 16px;
position: relative;
bottom: 70px;
}





.order_a_call-button {
    display: grid;
    color: white;
    border: 1px solid var(--color-lightBlue);
    border-radius: 5px;
    width: 275px;
    height: 60px;
    background-color: var(--color-lightBlue);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



.messenger img {
padding-left: 10px;
}


.address {
display: grid;
color: var(--color-white);
font-size: 18px;
font-weight: 700;
width: 310px;
grid-row-start: 1;

}

.tellAndWorkTime {
display: grid;
color: var(--color-white);
font-size: 18px;
font-weight: 700;
width: 178px;
}


.footer__logo {

    display: grid;
    justify-content: center;
    position: relative;
    top: -61px;
}


.footer__copyright {
display: grid;
font-size: 12px;
font-weight: 400;
color: var(--color-white);

}

.footer__privacyPolicy a{
display: grid;
font-size: 12px;
font-weight: 400;
color: var(--color-white);
padding-bottom: 20px;
}




	.prime-block-for-ltdc {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    justify-items: center;
		}



	.hideItem:nth-child(n+4) {
	padding: -10px;	
	overflow: hidden;
	opacity: 0;
	transition: opacity 2s;
	height: 0;
	transition-property: opacity, height, padding ;
	transition-duration: 0.5s ;
	transition-delay: 0.5s;
	}

	

.prime-block_open{
    display: grid;
    justify-content: center;
    }

	.rotate {
        transform: rotate(180deg); 
	   }






.item {
	opacity: 1;
	transition: opacity 5s;
	padding-left: 15px;
	width: 340px;
	height: 200px;
	border-radius: 10px;
	gap: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	align-content: center;
}

 .item  li {
	list-style: none;
    padding-bottom: 10px
}

.number {
	display: grid;
	font-size: 64px;
	font-weight: 800;
	line-height: 78px;
	color: white;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.under-line {
	border-bottom: 2px solid rgb(227, 117, 117);
	width: 175px;
}

.slide-name {
	display: grid;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: rgb(42, 35, 103);
}

.slide-text {
	display: grid;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.slide-number {
	display: grid;
	grid-template-columns: 12px 12px 12px 12px 12px 12px;
	column-gap: 12px;
}


.closeDT {
display: none;
}

}