@media (min-width: 769px) and (max-width: 1279px) {
  
    
    :root {
    --color-blue: rgb(42, 35, 103);
    --color-lightBlue: rgb(107, 90, 249);
    --color-gold: rgb(240, 213, 119);
    --color-gray: rgb(159, 159, 159);
    --color-white: rgb(255, 255, 255);
    --color-green: rgb(67, 205, 147);
    --color-under: rgb(235, 235, 235);
    --color-block: rgba(42, 35, 103, 0.15);
    --color-callBack:rgb(244, 248, 255);
    --color-callBackForm: rgb(107, 90, 249);
    --color-chekbox: rgb(155, 143, 255);
    --color-popup: rgba(163, 161, 161, 0.85);
    --color-order_a_call: rgb(152, 149, 180);
    --color-order_a_call__name: rgb(126, 126, 126);


    }
    
    body {
   
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(255, 255, 255);
   
    
   }



   .blur {
        
        background-color: rgba(161, 161, 161, 0.85);
        opacity: 0.9;
        }



   main {
   display: grid;
   margin-left: 10px;
   }

   .order_a_call__form {
    
    position: absolute;
    display: grid;
    top: 133px;
    width: 532px;
    height: 498px;
    background-color: var(--color-white);
    border-radius: 10px;
    z-index: 20;
    padding: 0 15px;
}

.order_a_call__title {
    display: grid;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-blue);
    text-align: center;
    align-content: center

}

.input_name, .input_phoneNumber {
color: var(--color-order_a_call__name);
font-size: 16px;
font-weight: 500;
}

.order_a_call__name {
    display: grid;
    border: none;
    border-bottom: 2px solid var(--color-order_a_call);
    
}

.order_a_call__phoneNumber {
    display: grid;
    border: none;
    border-bottom: 2px solid var(--color-order_a_call);
}

.order_a_call__name::placeholder, .order_a_call__name::placeholder {
color: var(--color-order_a_call);

}


.order_a_call__data, .order_a_call__data form {
    display: grid;
    row-gap: 15px;    
    padding-left: 30px;
}
.order_a_call__send {
    display: grid;
    justify-content: center;
        align-items: center;
}

.order_a_call__send_button {
    display: grid;
    color: white;
    border: 1px solid var(--color-lightBlue);
    border-radius: 5px;
    width: 275px;
    height: 60px;
    background-color: var(--color-lightBlue);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.approval {
display: grid;
text-align: left;
font-size: 10px;
font-weight: 500;
color: var(--color-order_a_call);

}


.imgOrderOfCall {
display: grid;
justify-content: center

}


.popup_menu .menu__list{
	display: block;
	position: absolute;
    top: 70px;
    text-decoration: none;
    background: white;
	width: 360px;
    list-style: none;
    box-shadow: 360px 0 rgba(163, 161, 161, 0.85),
	720px 0 rgba(163, 161, 161, 0.85),
	1080px 0 rgba(163, 161, 161, 0.85);
	height: 100vh;
    z-index: 10;
    margin-left: -68px;
    padding: 0;
    text-align: center;
    white-space: pre-line;
    overflow: auto;
    
	}
.burger_menu {
    position: absolute;
    margin-top: -43px;
    margin-left: -133px;
    }

	.popup_inform {

	bottom: 89px;
	left: 100px;
	}

	.x {
	position: absolute;
	left: 322px;
	width: 21px;
	height: 18px;
	}
	
	.hover__menu:nth-child(2) {
	margin-top: 40px;
	}

		.hover__menu {
		padding-top: 28px;
	}


	.proba {
		position: absolute;
		top: -44.3px;
		left: 0px;
	}

	
	
	.hover__menu a{
		padding:  5px 0;
		color: rgb(42, 35, 103);	
		font-weight: 700;
		font-size: 17px;
		}


	.contact a{ 
		list-style: none;
		color: rgb(107, 90, 249);
		top: 120px;
		font-weight: 700;
		}









   .close {
   display: none;
   }


   header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 97px;
    justify-items: center;
    align-items: center;
    
   }
   
   .first-block {
   display: grid;
   }


     .first_block_position {
    display: grid;
    grid-template-columns: 3fr 1fr;
   }

   .first_block_position_1 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 10px;
    align-content: space-evenly;
    justify-items: start;
   }

   

    .heading {
        font-size: 24px;
        font-weight: 700;
        color: var(--color-blue);
        margin-left: 10px;
        margin-top: 41px;
   }


  .heading span{
    color: var(--color-lightBlue);
   }

   .marketing {
        font-size: 12px;
        font-weight: 400;
        color: var(--color-blue);
        text-align: left;
   
    }
    .marketing span {
    color: var(--color-lightBlue);
    font-weight: 700;
    }


  

  

   .first_img {   
     display: grid;
     grid-column-start: 2;
    }

   .price {
    display: grid;
    justify-content: center;
    
    }
    
.price_m {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.price-button {
    display: grid;
    color: white;
    border: 1px solid var(--color-lightBlue);
    border-radius: 5px;
    width: 275px;
    height: 60px;
    background-color: var(--color-lightBlue);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.first-block__container {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-blue);
    }

.first-block__container span {
color: var(--color-lightBlue);
}

.question, .intShop {
    font-size: 24px;
    font-weight: 800;
    color: var(--color-blue);
}
.question span, .intShop span {
    color: var(--color-lightBlue);
}


.intShop {
margin-top: 30px;
}







.content_1, .content_2, .content_3, .content_4 {
display: grid;
grid-template-columns: 1fr 1fr;
margin-left: 10px;
}

  .product-catalog, .order_registration, .integration, .CRM {
    display: grid;
    row-gap: 17px;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-lightBlue);
    align-content: center
  }

  .product, .design_options, .integration_options, .CRM_options {
    display: grid;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-blue);
    list-style-image: url(img/li.png);
    row-gap: 10px;
    padding-left: 16px;
  }

.orderImg, .crmImg{
grid-column-start: 2;
}
.order_registration, .CRM{
grid-row-start: 1;

}


 .border {
    margin-top: 80px;
    margin-bottom: 107px;
    padding: 19px;
    background-color: var(--color-gold);
    border-radius: 10px;
  }

.gold {
    display: grid;
    height: 970px;
    background-color: var(--color-gold);
    border-radius: 10px;
    border: 1px solid white;
    align-content: space-between;

}
.slideBG {
    background-color: var(--color-gold);

}

.trophyImg {
display: grid;
margin-bottom: 19px;
}

    .trophy {
        display: grid;
        justify-items: center;
        margin-top: 38px;
        
    }
   
   .sertif {
    display: grid;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-gray);
    margin-bottom: 6px;
    }


    .sertifparner{
        display: grid;
        width: 212px;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        color: var(--color-blue);
        margin-bottom: 24px;
    }

    .swiper-slide_bk {
        background-color: var(--color-gold);
    }



.swiper, .swiper_second {
    width: 100%;
    height: 110%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.bisnesExp {
display: grid;
grid-template-columns: 1fr 1fr;
}

.bisnes {
font-size: 24px;
font-weight: 800;
color: var(--color-blue);
grid-column-start: 1;
}

.bisnes span {
color: var(--color-lightBlue);
}

.bisnes_conteiner {
font-size: 12px;
font-weight: 400;
color: var(--color-blue);
grid-column-start: 1;

}

.bisnesImg {
grid-column-start: 2;
}


 .second_block {
  display: grid;
  gap: 50px;
  }

  .second_block_title {
  font-size: 24px;
  font-weight: 800;
  color: var(--color-blue);
  }

  .stages {
        display: grid;
        justify-content: center;
        box-shadow: 0 10px 60px 0 var(--color-block);
        border-radius: 10px;
        padding: 10px;
        padding-top: 30px;
        margin-left: 50px;
        margin-right: 50px;

  }



  .stage {
      display: grid;
      justify-content: center;
      
  }

  .stage_title {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-content: center;
    column-gap: 30px;
  }

  .stage_number {
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
    background-color:var(--color-green);
    height: 53px;
    width: 53px;
    border-radius: 50%;
  }

    .stage_title_text {
        display: grid;
        align-content: center;
        font-size: 24px;
        font-weight: 700;
        color: var(--color-blue);
    }

    .stage_under_line {
        margin-top: 35px;
        display: grid;
        border-bottom: 1px solid var(--color-under) ;
    }

    .stage_content {
        display: grid;
        color: var(--color-blue);
        font-size: 18px;
        font-weight: 400;
    }

    .stageImg {
    display: grid;
    justify-content: center;
    }

.office {
display: grid;

    margin-top: 90px;
   background: url(imgLaptop/office_LT.png) no-repeat center;
  height: 459px;
    }


 .callback {
 display: grid;
    margin-top: 100px;
    background-color: var(--color-callBack);
    border-radius: 20px;
    height: 932px;
    justify-items: center;
    
    }

    .callback_title {
        display: grid;
        justify-items: center;
        font-size: 24px;
        font-weight: 800;
        color: var(--color-blue);
    }

    .callback__description {
        display: grid;
        font-weight: 400;
        font-size: 12px;
        color: var(--color-blue);
        text-align: center;
    }

    .callback__description p span {
    font-weight: 600;
        }

  .form__callBack {
  display: grid;
  background-color: var(--color-callBackForm);
  border-radius: 20px;
  margin: 0px 15px;
  height: 486px;
  width: 472px;
  justify-items: center;
  }



    .form__callBack-title {
    display: grid;
    font-size: 24px;
    font-weight: 700;
    width: 345px;
    color: var(--color-white);
    padding-top: 50px;
    text-align: center;
    }

    .callback_text {
    display: grid;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-white);
    text-align: center;
    width: 320px;
    }

    .form_border {
    display: grid;
    padding: 10px;
    justify-items: center;
    }

    .form {
    display: grid;
    justify-content: center;
    gap: 61px;
    color: rgba(255, 255, 255, 0.4);
    }

    .input {
    display: grid;
    
        background-color: var(--color-callBackForm);
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    }

    .button {
       display: grid;
    
    border: none;
    align-content: center;
    width: 268px;
    height: 60px;
    color: var(--color-lightBlue);
    font-size: 14px;
    font-weight: 700;
    }

.check {
display: block;
margin-top: 35px;
color: var(--color-white);
font-size: 12.5px;
font-weight: 400;
}

.check__input {
appearance: none;
}

.check__box {
position: absolute;
width: 16px;
height: 16px;
background-color: #fff;
margin-left: 0;
border-radius: 2px;
}

.check__text {
margin-left: 25px;
color: var(--color-chekbox);
}

.check__text span{
margin-left: 40px;
}

.check__input:checked + .check__box {
    background-image: url(img/checkbox.png);
}

.cube {
transform: translate(315px, 40px);
}

.cylinder {
transform: translate(300px, -460px);
}

.purpleInBasic {
transform: translate(-225px, -275px);

}

.platonic {
 transform: translate(-310px, -1160px);
}

.donut {
 transform: translate(-290px, -635px);
}








.footer {
    display: grid;
    background-color: var(--color-blue);
    row-gap: 40px;
    padding-left: 51px;
    padding-right: 51px;

}


.emailAndOrder {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
border-bottom: 2px solid var(--color-lightBlue);

}


.email {

    display: grid;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
    
    row-gap: 11px;
    padding-top: 27px;
    justify-content: center;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.email p {
font-size: 20px;
color: var(--color-lightBlue);
}

.order_a_call {
    display: grid;
    justify-content: center;
    }

.footer_inform {
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 35px;
}

.messenger {
text-align: center;
grid-column-start: 2;
}

.inform {
display: grid;
justify-items: center;
row-gap: 30px;

}





.order_a_call-button {
    display: grid;
    color: white;
    border: 1px solid var(--color-lightBlue);
    border-radius: 5px;
    width: 275px;
    height: 60px;
    background-color: var(--color-lightBlue);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



.messenger img {
margin-left: 10px;
}


.address {
display: grid;
color: var(--color-white);
font-size: 14px;
font-weight: 700;

width: 310px;
grid-row-start: 1;

}

.tellAndWorkTime {
display: grid;
color: var(--color-white);
font-size: 14px;
font-weight: 700;
width: 150px;
}


.footer__logo {
display: grid;
justify-content: center;

}

.footer__copyright {
display: grid;
font-size: 12px;
font-weight: 400;
color: var(--color-white);

}

.footer__privacyPolicy a{
display: grid;
font-size: 12px;
font-weight: 400;
color: var(--color-white);
padding-bottom: 20px;
}

	.noMobile {
    display: grid;
       display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    justify-items: center;
		}



	.hideItem:nth-child(n+3) {
	margin: -10px;	
	overflow: hidden;
	opacity: 0;
	transition: opacity 2s;
	height: 0;
	transition-property: opacity, height, margin ;
	transition-duration: 0.5s ;
	transition-delay: 0.5s;
	}

	

.open{
    display: grid;
    justify-content: center;
    }

	.rotate {
        transform: rotate(180deg); 
	   }



.item {
	opacity: 1;
	transition: opacity 5s;
	padding-left: 15px;
	width: 340px;
	height: 200px;
	border-radius: 10px;
	gap: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	align-content: center;
}

 .item li {
	list-style: none;
    margin-bottom: 10px
}

.number {
	display: grid;
	font-size: 64px;
	font-weight: 800;
	line-height: 78px;
	color: white;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.under-line {
	border-bottom: 2px solid rgb(227, 117, 117);
	width: 175px;
}

.slide-name {
	display: grid;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: rgb(42, 35, 103);
}

.slide-text {
	display: grid;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.slide-number {
	display: grid;
	grid-template-columns: 12px 12px 12px 12px 12px 12px;
	column-gap: 12px;
}

.first_sw{
display: none;
}

figure {
display: none;
}

}



